// Specific CSS for your home-page

// Navbar & Resources Types
.bg-black {
  background-color: black;
}

// Filters
.filter {
  cursor: pointer;
  padding-left: 10px;
  margin-bottom: 25px;
}

.filter:hover {
  box-shadow: 0px 0px 3px white;
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.3s;
}

.all {
  border-left: 5px solid white;
}

.people {
  border-left: 5px solid red;
}

.planets {
  border-left: 5px solid green;
}

.films {
  border-left: 5px solid blue;
}

.species {
  border-left: 5px solid orange;
}

.vehicles {
  border-left: 5px solid purple;
}

.starships {
  border-left: 5px solid yellow;
}
