<div id="resources-types" class="bg-black">
  <div class="container d-flex justify-content-between">
    <% @resources_types.each do |resource| %>
      <%= link_to resource, '#', class: "#{'active' if resource == 'people'}" %>
    <% end %>
  </div>
</div>
