<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Resources Types</h2>
<%# @resources.each do |resource| %>
  <%#= link_to resource, '#', class: "btn btn-dark" %>
<%# end %>

<h2>People</h2>
<%# @people.each do |hero| %>
  <%# hero.each do |key, value| %>
    <%# if key == 'name' %>
      <h4><%#= key %>: <%#= value %></h4>
    <%# else %>
      <p><%#= key %>: <%#= value %></p>
    <%# end %>
  <%# end %>
<%# end %>

<h2>Planets</h2>
<%# @planets.each do |planet| %>
  <%# planet.each do |key, value| %>
    <%# if key == 'name' %>
      <h4><%#= key %>: <%#= value %></h4>
    <%# else %>
      <p><%#= key %>: <%#= value %></p>
    <%# end %>
  <%# end %>
<%# end %>

<h2>Films</h2>
<%# @films.each do |film| %>
  <%# film.each do |key, value| %>
    <%# if key == 'title' %>
      <h4><%#= key %>: <%#= value %></h4>
    <%# else %>
      <p><%#= key %>: <%#= value %></p>
    <%# end %>
  <%# end %>
<%# end %>

<h2>Species</h2>
<%# @species.each do |specie| %>
  <%# specie.each do |key, value| %>
    <%# if key == 'name' %>
      <h4><%#= key %>: <%#= value %></h4>
    <%# else %>
      <p><%#= key %>: <%#= value %></p>
    <%# end %>
  <%# end %>
<%# end %>

<h2>Vehicles</h2>
<%# @vehicles.each do |vehicle| %>
  <%# vehicle.each do |key, value| %>
    <%# if key == 'name' %>
      <h4><%#= key %>: <%#= value %></h4>
    <%# else %>
      <p><%#= key %>: <%#= value %></p>
    <%# end %>
  <%# end %>
<%# end %>

<h2>Starships</h2>
<%# @starships.each do |starship| %>
  <%# starship.each do |key, value| %>
    <%# if key == 'name' %>
      <h4><%#= key %>: <%#= value %></h4>
    <%# else %>
      <p><%#= key %>: <%#= value %></p>
    <%# end %>
  <%# end %>
<%# end %>
