<%= form_tag root_path, method: :get, id: "search-form", class: "row form-inline my-4" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control col",
    placeholder: "Search...",
    autocomplete: "off"
  %>
  <%= submit_tag "Search", class: "btn btn-dark col-2" %>
<% end %>

<div id="search-results">
  <% unless @search_results.nil? %>
    <% @search_results.each do |result| %>
      <p><%= result['name'] || result['title'] %></p>
    <% end %>
  <% end %>
</div>
