<div id="search-bar" class="container row form-inline my-5" style="margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 0;">
  <input id="search-input" type="text" value="" placeholder="Yoda, Tatooine, ..." autocomplete="off" class="form-control col">
  <button id="search-button" class="btn btn-dark col-2">search</button>
</div>

<div id="search-data" class="row" hidden></div>

<div id="all-resources">
  <div class="row">
    <div id="filters" class="col-3 col-md-2"></div>
    <div id="items" class="col-9 col-md-10">
      <div id="items-row" class="row"></div>
    </div>
  </div>
</div>

<!-- Modals -->
<div id="modals"></div>
