<h1>Star Wars Resources</h1>

<div class="input-group mt-5">
  <input type="text" class="form-control" placeholder="Luke Skywalker, Tatooine, ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">search</span>
  </div>
</div>

<hr class="my-5">

<div id="resources" class="d-flex justify-content-between mb-5"></div>

<div id="results" class="mb-5"></div>

<div id="details" class="mb-5"></div>
