<h1>Star Wars Resources</h1>
<p>Find me in app/views/resources/index.html.erb</p>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Luke Skywalker, Tatooine, ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">search</span>
  </div>
</div>

<div id="resources" class="d-flex justify-content-between mb-3">
  <!-- <button type="button" class="btn btn-dark mx-2">people</button>
  <button type="button" class="btn btn-dark mx-2">planets</button>
  <button type="button" class="btn btn-dark mx-2">films</button>
  <button type="button" class="btn btn-dark mx-2 active">species</button>
  <button type="button" class="btn btn-dark mx-2">vehicles</button>
  <button type="button" class="btn btn-dark mx-2">starships</button> -->
</div>
<div id="results">
  <!-- <p class="result" data-url="https://swapi.co/api/species/5/">Hutt</p>
  <p class="result">Yoda's species</p>
  <p class="result">Trandoshan</p>
  <p class="result">Mon Calarami</p>
  <p class="result" data-url="https://swapi.co/api/species/9/">Ewok</p>
  <p class="result">Sullustan</p>
  <p class="result">Neimodian</p>
  <p class="result">Gungan</p>
  <p class="result">Toydarian</p>
  <p class="result">Dug</p>
  <p id="more" class="btn btn-outline-primary">more...</p> -->
</div>
<div id="details"></div>
