<h1>Resources#show</h1>
<p>Find me in app/views/resources/show.html.erb</p>

<% @resource.each do |item| %>
  <% if params[:id] == 'films' %>
    <p><%= item['title'] %></p>
  <% else %>
    <p><%= item['name'] %></p>
  <% end %>
<% end %>

<%= link_to '< back to home', resources_path %>
