.name {
  border: 1px solid #4A4A4A;
  border-radius: 3px;
  background-color: #333333;
  padding: 20px;
  height: 100%;
  min-height: 100px;
}

.name:hover {
  border: 1px solid white;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 3px white;
}
